*{
	margin: 0;
	padding:0;	
}
a{
	text-decoration: none;
}
body{
	width: 80%;
	margin:0 10%;
	

}
header{
	top:0;
	width:  80%;
	height: 100px;
	background: #a5f7ff;
	position: fixed;
	border-radius: 0 0 20px 20px;
	z-index: 10;
	
	
}
.logo{
	
}
.logo img{
	width:80px;
	float: left;
}
.logo h1{
	padding-top: 30px;
	float: left;
}
.menu ul li{
	float: right;
	list-style: none;
}
.menu ul li img{
	margin:30px 0 20px 10px;
	width: 30px;
}
.menu ul li a{
	text-decoration: none;
	color: #000;
}
.menu-item{
	margin: 40px 10px 30px 0 ;
}
.menu ul li:hover{
	opacity: 0.5;
}
nav{
	background: #36a7a7;
	padding: 10px;
	margin: 100px 0 20px;
	color: #fff;
	top: 100px;
	clear: both;
	border:1px solid #000;
	border-radius: 20px;
}
blockquote{
	text-align: center;
	font-style: italic;
	font-size: 20px;
	margin: 20px;
}
.who{
	text-align:right;
	padding:20px;
}
section{
	clear: both;
	width: 30%;
	height: 200px;
	display: inline-block;
	margin:10px 5px 10px;
	padding: 10px;
	border:1px solid #000;
	border-radius: 20px;
	overflow: auto;
	position: relative;


}
section:hover{

}
section h3{
	margin:5px;
}
.onTop{
	right:0;
	bottom: 50px;
	border:1px solid #000;
	background: #ccc;
	border-radius: 30px;
	position: fixed;
	padding: 5px;
	width: 120px;

}
#icon img{
	width: 30px;
}
#icon{
	float: left;
	margin-right: 5px;
}
#text{
	margin: 5px 0 0;
}
#text a{
	color: #f00;
}
footer{
	height: 80px;
	line-height: 80px;
	background: #9e9dea;
	border-radius: 20px 20px 5px 5px;
	text-align: center;
	color: #fff;
}